<div class="jumbotron">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="media-heading">CS 4220/5223 + MATH 4260</h1>
      <h2>Numerical Analysis: Linear and Nonlinear Problems</h2>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <hr/>
    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
      <p>
        Location: Olin 255 (<a href="https://www.cs.cornell.edu/courses/CS4220/2022sp/netid/index.html">Zoom</a> initially)<br/>
        Lecture: MWF 11:20-12:10
      </p>
    </div>
    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
      <p>
        Prof: <a href="http://www.cs.cornell.edu/~bindel">David Bindel</a>
        (<a href="mailto:bindel@cornell.edu">bindel@cornell.edu</a>)<br/>
        OH: Mon 3-4, Fri 1-2 (Gates 405), <a href="https://outlook.office365.com/owa/calendar/BindelOH@cornellprod.onmicrosoft.com/bookings/">or by appt</a>
      </p>
      <p>
        TA: Eric Chen
        (<a href="mailto:emc348@cornell.edu">emc348@cornell.edu</a>)<br/>
        OH: Tue 5-6 (<a href="https://cornell.zoom.us/j/96726438693?pwd=RUptVlMybU9xcGJnM250WHRRR3ROdz09">Zoom</a>), Thu 2-3 (Rhodes 574/<a href="https://cornell.zoom.us/j/96726438693?pwd=RUptVlMybU9xcGJnM250WHRRR3ROdz09">Zoom</a>)
      </p>
      <p>
        TA: <a href="https://lauragreenstreet.github.io/about-me/">Laura Greenstreet</a>
        (<a href="mailto:leg86@cornell.edu">leg86@cornell.edu</a>)<br/>
        OH: Wed 4-5 (<a href="https://cornell.zoom.us/j/96726438693?pwd=RUptVlMybU9xcGJnM250WHRRR3ROdz09">Zoom</a>), Fri 2-3 (<a href="https://cornell.zoom.us/j/96726438693?pwd=RUptVlMybU9xcGJnM250WHRRR3ROdz09">Zoom</a>)
      </p>
      <p>
        TA: <a href="https://www.cam.cornell.edu/research/grad-students/jessie-xinran-zhu">Xinran Zhu</a>
        (<a href="mailto:xz584@cornell.edu">xz584@cornell.edu</a>)<br/>
        OH: Thu 7-9 (<a href="https://cornell.zoom.us/j/96726438693?pwd=RUptVlMybU9xcGJnM250WHRRR3ROdz09">Zoom</a>)
      </p>
    </div>
    </div>
  </div>
</div>
